*.project
*.class
*.dll
*.so
*.gwt-log
*~
.settings
.classpath
*/.settings
.metadata/*
.DS_Store
Thumbs.db
*/target/
html/gwt-unitCache/*
html/war/*
android/assets
*/bin/*
android/.settings
android/gen
ios/assets/*